@model TreeTest.Models.TreeListModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Name</title>
</head>
<body>
    <div> 
        <h1>Folder: @Model.Name </h1>
    </div>
    <div>
        @foreach (var node in Model.ListTrees)
        {
            <ul>@Html.ActionLink(node.Name, "NextNode", "Home", new {@path=node.Path}, null)</ul>
        }

    </div>
</body>
</html>
